<!-- Lets talk about geddy -->
<div class="hero-unit geddy-welcome-box">
  <h1>welcome to a store</h1>
  <p>would you like to buy something?</p>
  <p><a href="http://geddyjs.org/tutorial.html" class="btn btn-primary btn-large">Lets get you started »</a></p>
</div>
