<!-- Lets talk payments -->

<body>
<div id="v-root"></div>

<v:init
  apikey="5RS0INPJVCCQZ3MFMQH4"
  token="1332472836:f906273a26837aff459b9028f26fc216"
  userid="jdoe"
  country="US">
</v:init>

<div class="hero-unit geddy-welcome-box">
  <h1>hey you.</h1>
  <p>No need to whip it out and swipe at the nearest object, just click below</p>
  
<v:buy
  apikey="5RS0INPJVCCQZ3MFMQH4"
  token="d3913fc46f56bd9de8858b600e3ac7be"
  amount="1"
  currency="USD"
  product-id="sheep1">
</v:buy>

  <script type="text/javascript"
  src="http://sandbox-static.v.me/js/1/v-widgets.js"></script>
